[submodule "Torch"]
	path = Torch
	url = https://github.com/HarbourMasters/Torch.git
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Jepvid/libultraship
	branch = Fix-appimage-codemod
